body{
    text-align: center;
    padding: 30px;
    background-color: rgb(240, 188, 92);
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    position: fixed;
    margin-bottom: 20px;
    box-sizing: 50%;
    background-image: ;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 10px rgb(248, 198, 104);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(235, 228, 219);
    display: block;
    list-style: none;
    border: 1px solid black;
    justify-content: space-between;
}